
.HomeCont{
    width: 70%;
    display: grid;
    grid-template-columns: 35% 65%;
    padding: 1rem;
    background-color: hsl(0, 0%, 100%);
    margin: auto;
    border-radius: 3rem;
}

.leftside{
    padding: 1rem;
}
.rightside{
    padding: 4rem 2rem;
}


